body{
    background-image: url("pic2.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

#container{
    width:100%;
    
}

#header{
    color:rgb(192, 141, 141);
    font-family: "Comic Sans MS", cursive, sans-serif;
    float:left;
    font-size: xx-large;
   
}


#pages{
    float:right;
    width:900px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}
a{
    color: rgb(250, 239, 218);
    text-decoration:none;
    margin: 30px;
    
    
}

a:hover{
    color:rgb(145, 77, 209);
}



#myform1{
    clear: both;
    border:2px rgb(145, 77, 209) solid;
    box-shadow: 0 0 10px ;
    border-radius: 100px 0 100px 0;
    margin: auto ;
    width:350px;
    height: 400px;
    padding:50px;
    background-color:rgb(255,255,255,0.7) ;
    color:#333;
}


#myform2{
    padding-top:80px;
    padding-left:40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#hi{
    margin:-90px 50px 60px 50px ;
    font-size: 20px;
    color: rgb(172, 112, 230);
    
}


.inputs{
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: rgb(145, 77, 209,0.5) solid 2px;
    background-color: rgb(255,255,255,0.0);
    width:270px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    

}

#rmlabel{
    color:rgb(68, 68, 68);
    font-size: large;

}

#rememberme{
    
    width:15px ;
    height:15px;
}

#login{
    width:270px;
    height: 40px;  
    margin:auto;
    border-radius: 20px;
    border: hidden;
    /*background-image: linear-gradient(to right,rgb(247, 163, 255),rgba(132, 0, 255, 0.5));*/
    background-image: radial-gradient(rgb(247, 163, 255), rgba(132, 0, 255, 0.5));
    font-size: large;
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-shadow: 0 0 10px rgb(145, 77, 209);
    color:rgb(250, 239, 218);
}
h6{
    margin: auto;
    margin-left: 35px;
}

h6 a{
    margin:2px;
    text-decoration: underline;
    color: black;
}